.EditorGoban {
  .shudan-goban-image {
    background-image: none;
  }
  .shudan-goban-image::after {
    background: none;
  }

  .shudan-goban {
    --shudan-board-border-color: white;

    --shudan-board-background-color: whitesmoke;
    --shudan-board-foreground-color: #333;

    --shudan-black-background-color: whitesmoke;
    --shudan-black-foreground-color: whitesmoke;

    --shudan-white-background-color: black;
    --shudan-white-foreground-color: black;
  }

  .shudan-stone::before {
    box-shadow: none !important;
  }

  .shudan-shadow {
    display: none;
  }
}
