.shudan-ghost::before {
  width: 0.8em !important;
  height: 0.8em !important;
}

.shudan-goban-image {
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.shudan-goban {
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.shudan-stone-image.shudan-sign_-1 {
  background-image: url("./assets/custom_white_stone.svg");
}

.shudan-stone-image.shudan-sign_1 {
  background-image: url("./assets/custom_black_stone.svg");
}

.shudan-stone::before {
  background: none !important;
}
