.GobanViewer {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    /* Firefox */
    -moz-appearance: textfield;
    font-size: 20px;
    text-align: center;
  }
  .shudan-goban-image {
    background-image: none;
  }
  .shudan-goban-image::after {
    background: none;
  }

  .shudan-stone-image.shudan-sign_-1 {
    background-image: url("./assets/custom_white_stone.svg");
  }

  .shudan-stone-image.shudan-sign_1 {
    background-image: url("./assets/custom_black_stone.svg");
  }

  .shudan-goban {
    --shudan-board-border-color: white;

    --shudan-board-background-color: var(--highlight);
    --shudan-board-foreground-color: #333;

    --shudan-black-background-color: var(--highlight);
    --shudan-black-foreground-color: white;

    --shudan-white-background-color: black;
    --shudan-white-foreground-color: black;
  }

  .shudan-stone::before {
    box-shadow: none !important;
  }

  .shudan-shadow {
    display: none;
  }
}
