.TinyGoban.EditorGoban {
  transition: transform 0.1s ease-in-out;
  border-radius: 8px;
  padding: 4px;
}

.TinyGoban.EditorGoban[data-hovering="true"] {
  .shudan-goban {
    cursor: pointer;
    --shudan-board-border-color: white;

    --shudan-board-background-color: var(--color-accent);
    --shudan-board-foreground-color: #333;

    --shudan-black-background-color: whitesmoke;
    --shudan-black-foreground-color: whitesmoke;

    --shudan-white-background-color: black;
    --shudan-white-foreground-color: black;
  }
}

.TinyGoban.EditorGoban[data-trash-hovering="true"] {
  .shudan-goban {
    opacity: 0.3;
  }
}

.TinyGoban.EditorGoban[data-clearing="true"] {
  transition: none !important;

  .shudan-goban,
  .tiny-goban-container,
  * {
    transition: none !important;
    opacity: 1 !important;
  }
}

.tiny-goban-container {
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  transform-origin: center;
}

.tiny-goban-visible {
  opacity: 1;
  transform: scale(1);
}

.tiny-goban-hidden {
  opacity: 0;
  transform: scale(1.05);
  pointer-events: none;
}

.next-moves-visible {
  opacity: 1;
  transform: scale(1);
}
