.TinyGoban[data-hovering="true"] {
  .shudan-goban {
    cursor: pointer;
    --shudan-board-border-color: white;

    --shudan-board-background-color: var(--color-accent);
    --shudan-board-foreground-color: #333;

    --shudan-black-background-color: whitesmoke;
    --shudan-black-foreground-color: whitesmoke;

    --shudan-white-background-color: black;
    --shudan-white-foreground-color: black;
  }
}
